
<h2>Workout <%= @workout.id %></h2>
<div><label>User Profile</label></div>
<div><%= @workout.user_profile_id %></div>
<div><label>Workout Date</label></div>
<div><%= @workout.workout_date %></div>
<div><label>Workout Type</label></div>
<div><%= @workout.workout_type_id %></div>
<div><label>Workout Length</label></div>
<div><%= @workout.workout_length %></div>
